/Debug/
/Release/
/.build/
*.log
*.o
*.lst
*.map
*.d
*.elf
*.bin
*.hex
*.dep
*.ioc.generation/
L476_EmbeddedCatastrophies.launch
.settings/org.eclipse.cdt.core.prefs
.settings/org.eclipse.cdt.ui.prefs
